<div class="sobre d-flex">
    <div class="sobre-esq">
        <img src="../../assets/images/foto.png" alt="">
    </div>
    <div class="sobre-dir">
        <h2> Sobre mim </h2>
        <h4> Rio de Janeiro, Brasil </h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id egestas dui. Nullam finibus aliquam enim quis faucibus. Aenean ac commodo dolor, nec bibendum velit.</p>
        <div class="sobre-dir-social d-flex">
            <img src="../../assets/images/twitter.png"  alt="">
            <img src="../../assets/images/twitch.png"   alt="">
            <img src="../../assets/images/youtube.png"  alt="">
            <img src="../../assets/images/figma.png"    alt="">
            <img src="../../assets/images/codepen.png"  alt="">
            <img src="../../assets/images/facebook.png" alt="">
        </div>
    </div>
</div>