@import '../../styles.scss';

.projetos{
    padding: 2rem 3rem;
    color: $color-white;
    background-color: $color-black-2;
    &-item{
        width: 50%;
        img{
            width: 90%;
            height: auto;
            border-radius: 5px 0 0 5px;
            border-left: 4px solid $color-blue;
        }
    }
}